*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dkr-blue: hsl(209, 33%, 12%);
  --blue-hover: hsl(223, 87%, 53%);
  --blue-active: hsl(223, 87%, 58%);
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
  color: var(--dkr-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 650px) {
  body {
    font-size: 1.6rem;
  }
}

.container {
  padding-top: 8.4rem;
  padding-inline: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60rem;
  max-width: 65rem;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 12rem;
}
.hero__logo {
  width: 5.4rem;
  margin-bottom: 3.8rem;
}
@media only screen and (min-width: 650px) {
  .hero__logo {
    width: 8.8rem;
    margin-bottom: 4.8rem;
  }
}
.hero__content__title {
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 650px) {
  .hero__content__title {
    font-size: 4.8rem;
  }
}
.hero__content__title span {
  font-weight: 700;
  color: initial;
}
.hero__content__get-notified {
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 650px) {
  .hero__content__get-notified {
    font-size: 2rem;
    margin-bottom: 4.2rem;
  }
}
.hero__email-group {
  margin-bottom: 7rem;
  width: 90%;
  display: grid;
  gap: 1rem;
}
@media only screen and (min-width: 650px) {
  .hero__email-group {
    grid-template-columns: 2fr 1fr;
    margin-bottom: 9rem;
  }
}
.hero__email-group__email-input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: 1px solid var(--pale-blue);
  font-size: 1.2rem;
  color: var(--dkr-blue);
  outline: none;
}
.hero__email-group__email-input:focus {
  border: 1px solid var(--blue);
}
.hero__email-group__email-input::-moz-placeholder {
  color: var(--pale-blue);
}
.hero__email-group__email-input:-ms-input-placeholder {
  color: var(--pale-blue);
}
.hero__email-group__email-input::placeholder {
  color: var(--pale-blue);
}
@media only screen and (min-width: 650px) {
  .hero__email-group__email-input {
    font-size: 1.6rem;
  }
}
.hero__email-group__error {
  color: var(--light-red);
  text-align: left;
  margin-left: 2rem;
  margin-top: -1rem;
}
@media only screen and (min-width: 650px) {
  .hero__email-group__error {
    grid-row-start: 2;
  }
}
.hero__email-group__error--hide {
  display: none;
}
.hero__email-group__btn {
  background-color: var(--blue);
  color: white;
  border-radius: 10rem;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.hero__email-group__btn:hover {
  background-color: var(--blue-hover);
}
.hero__email-group__btn:active {
  background-color: var(--blue-active);
}
@media only screen and (min-width: 650px) {
  .hero__email-group__btn {
    font-size: 1.6rem;
  }
}
.hero__illustration {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__socials {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}
.footer__socials__link {
  height: 2.8rem;
  width: 2.8rem;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  font-size: 1.6rem;
  display: grid;
  place-content: center;
  color: var(--blue);
}
.footer__copyrights {
  font-size: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dkr-blue);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.attribution a {
  color: var(--blue);
}